
.contact-wrapper{
  margin-top: 5rem;
  padding-top: 10px;
  background-color: rgb(172, 172, 172);
}
.BigCard{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.image{
  width: 120px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
}
.image img{
  width: 120px;
  border-radius: 50px;
}
.SectionTitle{
  text-align: center;
  font-size: 30px;
}
  .AboutBio{
    text-align: center;
    padding-bottom: 20px;
  }
.technologies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -2rem;
}

.tech{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
  min-width: 100px;
  margin-bottom: 2rem;
}
.tech-img{
  height: 50px;
  width: 50px;
}  
.tech-name{
  font-size: 14px;
}
